<?xml version="1.0" encoding="UTF-8"?>
<!-- DOCTYPE很重要，不能省略 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="silence.dao.StudentMapper">
	<select id="getStudentByStuNo" resultType="Students">
		select * from students
		where stuNo=#{stuNumber}
	</select>
	<select id="getStudentPwd" resultType="String">
		select stuPwd from students
		where id=#{id}
	</select>
	<update id="updateStuPwd">
		update students set stuPwd=#{stuPwd} where id=#{id}
	</update>
	<insert id="insertComeTime">
		insert into attendance_record (stuId,attendanceComeTime) values (#{stuId},#{comeTime})
	</insert>
</mapper>